.charts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50%;
    position: absolute;
    top: 20%;
}

.charts>div {
    flex-basis: 100%;
    padding: 10px;
}

.charts .charts__bloodsugar,
.charts .charts__insulin {
    display: none;
}

.charts[data-test="InsulinTest"] .charts__insulin {
    display: block;
}

.charts[data-test="BloodTest"] .charts__bloodsugar {
    display: block;
}