.item {
    background-size: cover;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    user-select: none;
    &:hover {
        cursor: grab;
    }
}

.item--glucose {
    background-image: url('../assets/Glucose.png');
}

.item--bread {
    background-image: url('../assets/Bread.png');
}

.item--cola {
    background-image: url('../assets/Cola.png');
}

.item--rice {
    background-image: url('../assets/Rice.png');
}

.item--blood {
    background-image: url('../assets/test-blood.png');
}

.item--insulin {
    background-image: url('../assets/test-glucose.png');
}